<!DOCTYPE html>
 <html>
 <head>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css')}}">
 </head>
 
 <body>
 
     <nav class="navbar">
         <div class="navdiv">
             <div class="logo"><a href="/">MovieVerse</a> </div>
             <ul>
                 <li><a href="/recommend">Search</a></li>
                 <!-- <li><a href="/topgross">Top Gross</a></li> -->
                 <li><a href="/register">Register</a></li>
                 <li><a href="/login">Login</a></li>
                 <li><a href="/dashboard">Dashboard</a></li>
             </ul>           
         </div>
     </nav>
 
     <div class="welcome-message">
         <h1>Welcome to MovieVerse</h1>
         <p>Where movies come to life! Discover your next cinematic adventure with personalized movie recommendations tailored just for you.</p>
     </div>
 
 </body>
 
 </html>
 