<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css')}}">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="/">MovieVerse</a></div>
            <ul>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <h1>Register Here</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="text-align: center;">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="POST" action="/register">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <input type="submit" value="Register">
    </form>
</body>
</html>
